*{
    box-sizing: border-box;
}
body{
    background: #f7f7f7;
    margin: 0;
    text-align: center;
}

.container-div{
    text-align: left;
    background-color: #fff;
    display: inline-block;
    width: 20%;
    margin: 10px 20px;
    padding: 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
}