*{
    box-sizing: border-box;
}
body{
    background: #f7f7f7;
    margin: 0;
    text-align: center ;
}
.edit-box{
    display: flex;
    justify-content: space-between;
}
.buttonedit{
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(21, 21, 21);
    height: 30px;
    margin-top: 15px;
}
.container-div{
    text-align: left;
    background-color: #fff;
    display: inline-block;
    width: 200px;
    margin: 10px 20px;
    padding: 20px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
}
.btn-edit{
    color: rgb(255, 255, 255);
    background-color: rgb(12, 73, 170);
}
.btn-upload{
    margin-top: 15px;
}

.container-filter Button{
    margin: 0px 3px;
}