
label{
    display: inline-block;
    margin: 10px 0;
}
input{
    border: 2px solid #8883e4;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 16px;
}
input:focus{
    outline: none   ;
}
.btn{
    background-color: rgb(7, 207, 21);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    padding: 4px;
    width: 100px;
}